@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="http://www.velib.paris/" target="_blank">
                <img src="~/images/velib.png" alt="ASP.NET" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a href="http://www.autolib.eu/" target="_blank">
                <img src="~/images/autolib.png" alt="ASP.NET" class="img-responsive" />
            </a>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
            <a asp-area="" asp-controller="CommentYAller" asp-action="Index"><button class="btn btn-block btn-info">Comment y aller ?</button></a>
        </div>
    </div>
</div>
