
@{
    ViewData["Title"] = "Coordonnées";
}

<h2>Coordonnées</h2>

<p>
    Point de départ: @ViewData["latitude_depart"] ;  @ViewData["longitude_depart"]
</p>

<p>
    Point d'arrivée: @ViewData["latitude_arriv"] ;  @ViewData["longitude_arriv"]
</p>