
@{
    ViewData["Title"] = "Coordonnées";
    String advice;
    switch (ViewData["mode"])
    {
        case "bicycling":
            advice = "vélib";
            break;
        case "driving":
            advice = "autolib";
            break;
        default:
            advice = "téléportation";
            break;
    }
}

<h2>Je te conseille d'y aller en
    @advice
    !
    </h2>

@ViewData["mode"]

<h3>Instructions: </h3>


    @foreach (string instruction in (List<String>)ViewData["Instructions"])
    {
        <p>@instruction</p>
    }