@using comment_y_aller.Models;
@{
    ViewData["Title"] = "Coordonnées";
    String advice;
    MapsRootObject Route = (MapsRootObject)ViewData["Route"];
    switch (ViewData["mode"])
    {
        case "bicycling":
            advice = "vélib";
            break;
        case "driving":
            advice = "autolib";
            break;
        default:
            advice = "téléportation";
            break;
    }
}

<h2>Je te conseille d'y aller en
    @advice
    !
    </h2>


<h3>Instructions: </h3>

    @foreach (Route route in Route.routes)
    {
        @foreach (Leg leg in route.legs)
        {
            @foreach (Step step in leg.steps)
            {
                <p>@Html.Raw(step.html_instructions)</p>
            }
        }
    }