
@{
    ViewData["Title"] = "View";
}

<h2>Comment y aller ?</h2>
<h3>Implémentés: Vélib, Autolib</h3>

<form action="/CommentYAller/Coordinates" method="post">
    <h4>Point de départ: </h4>
    <p>
        <input type="text" name="latitude_depart" value="48,847106" />
        <input type="text" name="longitude_depart" value="2,340441" />
    </p>


    <h4>Point d'arrivée: </h4>
    <p>
        <input type="text" name="latitude_arriv" value="48,886705" />
        <input type="text" name="longitude_arriv" value="2,347589" />
    </p>

    <input type="submit" value="Comment y aller ?" />
</form>

